fastapi
uvicorn
streamlit
requests
sqlalchemy
alembic
pymysql
PyMuPDF
pypdf
langchain
langchain-community
langchain-text-splitters
chromadb
jieba
rank-bm25
python-dotenv
zhipuai
openai
websocket-client
pytest
pytest-asyncio
httpx
